.restContainer {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchContainer {
  height: 20%;
  position: relative;
  display: flex;
  margin: 0.8rem 0;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
}

.icon {
  color: #1a181e;
}
.veg{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.product-search {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #9e9d9d;
  width: 30%;
  display: flex;
  align-items: center;
  padding: 7px 10px;
}

.product-search input {
  font-size: 14px;
  line-height: 22px;
  color: #1a181e;
  border: none;
  outline: none;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.nav_wrapper {
  margin-top: 0.7rem;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #282c3f;
  color: #fff;
}

.res_image {
  padding: 1rem 2rem;
  width: 20%;
}

.image {
  width: 100%;
}

.res_info {
  font-family: sans-serif;
  margin-left: 1rem;
}

.resName {
  font-size: 2.5rem;
}

.resAddress {
  margin: 1rem 0;
  color: #9b9ca0;
}

.resBill {
  color: #9b9ca0;
}

.body_wrapper {
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.meals {
  width: 70%;
}
.cart {
  width: 40%;
  max-width: 22%;
}

@media only screen and (max-width: 1200px) {
  .res_image {
    width: 25%;
  }
  .nav_wrapper {
    padding: 0 3%;
  }
  .body_wrapper {
    padding: 2% 3%;
  }
}

@media only screen and (max-width: 850px) {
  .res_image {
    padding: 1rem;
    width: 30%;
  }
  .searchContainer {
    padding: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .res_image {
    padding: 0.5rem;
    width: 40%;
  }
  .searchContainer {
    padding: 0.5rem;
  }
  .meals {
    width: 100%;
  }
  .cart {
    display: none;
  }
  .resName {
    font-size: 2rem;
  }
  .resBill {
    font-size: 1rem;
  }
  .resAddress {
    font-size: 1rem;
  }
  .product-search{
    width: 50%;
  }
}

@media only screen and (max-width: 50px) {
  .resName {
    font-size: 1.5rem;
  }
  .resBill {
    font-size: 0.8rem;
  }
  .resAddress {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .resName {
    font-size: 1.2rem;
  }
  .resBill {
    font-size: 0.8rem;
  }
  .resAddress {
    font-size: 0.8rem;
  }
}