.table {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #fff;
  padding: 10px;
}
.header {
  background-color: rgb(192, 194, 194);
  display: flex;
  padding: 8px 10px;
  border-radius: 5px;
}
.header .orderid {
  font-weight: bold;
  width: 10%;
  margin: 0 2px;
}
.header .date {
  font-weight: bold;
  width: 15%;
  margin: 0 2px;
}
.header .time {
  font-weight: bold;
  width: 10%;
  margin: 0 2px;
}
.header .customer {
  font-weight: bold;
  width: 25%;
  margin: 0 2px;
}
.header .items {
  font-weight: bold;
  width: 10%;
  margin: 0 2px;
}
.header .payment {
  font-weight: bold;
  width: 10%;
  margin: 0 2px;
}
.header .status {
  font-weight: bold;
  width: 10%;
  margin: 0 2px;
}
.header .amount {
  font-weight: bold;
  width: 10%;
  margin: 0 2px;
}
.content {
  display: flex;

  flex-direction: column;
}
.table-item {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px 0;
}
.tableItem-wrapper {
  padding: 5px 10px;
  border-radius: 4px;
}
.tableItem-wrapper:hover {
  background-color: rgb(241, 241, 241);
}
.table-item .orderid {
  width: 10%;
  margin: 0 2px;
  color: rgb(64, 112, 201);
}
.table-item .date {
  width: 15%;
  margin: 0 2px;
}
.table-item .time {
  width: 10%;
  margin: 0 2px;
}
.table-item .customer {
  width: 25%;
  margin: 0 2px;
}
.table-item .items {
  width: 10%;
  margin: 0 2px;
}
.table-item .payment {
  width: 10%;
  margin: 0 2px;
  /* background-color: rgb(245, 206, 98); */
  color: rgb(252, 152, 4);
}
.table-item .status {
  width: 10%;
  margin: 0 2px;
}
.table-item .amount {
  width: 10%;
  margin: 0 2px;
}
